.header {
  background-color: #2d5c93;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100px;
}

.title {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
